body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header{
    display: flex;
    padding: 10px 50px;
    gap: 15px;
    font-size: large;
    color: white;
    
}
.color{
    background-color: #1F2937;
}
.right{
    margin-left: auto;
}
.content{
display: flex;
flex-direction: row;
padding: 50px;
gap: 30px;
}
.column1{
    display: flex;
    flex-direction: column;
}
.column2{
    display: flex;
    flex-direction: column;
}
.awesome{
    font-size: 48px;
    font-weight: 600;
    color: #F9FAF8;
}
.second{
    font-size: 18px;
    color: #E5E7EB;
}
.button button{
    background-color: #3882F6;
    padding: 10px 40px;
    border-radius: 10px;
    justify-content: center;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
.random{
    display: flex;
    
}
.info{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 700;
    font-size: 36px;
}
.card {
    height:200px;
    width: 200px;
    border: 5px solid blue;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 15px;
    
  }
.subtext{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px;
    flex:1;
    
    
    
}
.text{
    display: flex;
    justify-content: center;
    flex: 1;
    
}

.testimonial{
    background-color: #E5E7EB;
}
.with{
    padding: 100px;
    display: flex;
    flex-direction: column;
}
.quote{
    font-size: 36px;   
}
.from{
    display: flex;
    font-size: 20px;
    margin-left: auto;
    
}
.call{
    padding: 50px 40px;
}
.blue{
    padding: 10px 40px; 
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    color: white;
}
  .footer{
    display: flex;
    align-items: end;
    margin-top: auto;
    justify-content: center;
    padding: 30px;
    background-color: #1F2937;
    color: white;
  }
  .call-to{
    font-weight: 600;
  }
  .signup{
    display: flex;
    align-items: center;
    padding: 10px;
    
  }
  .signup button{
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 40px;
    height: 40px;
    
    flex-shrink: 0;
  }
  .row{
    padding: 30px;
  }
  
